<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Todo Tasks Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/validation.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" style="margin-top: 40px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Welcome

                <form th:action="@{/logout}" method="get" class="pull-right">
                    <button class="btn-floating btn-danger"
                            type="Submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <h2>
        <span class="text-success" th:utext="${successMessage}"></span> <span
            class="text-danger" th:utext="${errorMessage}"></span>
    </h2>


    <div class="col-sm-2">
        <!--        <button th:onclick="redirect:/login/add" class="btn btn-primary btn-block">Add Task</button>-->
        <button type="button" th:onclick="|window.location.href='/login/add'|" class="btn btn-primary btn-block">Add Task</button>
    </div>

    <div class="container" th:fragment="content">
        <table  class="table table-bordered table-striped">
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Description</th>-->
<!--                <th>Due Date</th>-->
<!--                <th>Priority</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            </thead>-->
            <tbody>
<!--            <tr th:if="${todos.empty}">-->
<!--                <td colspan="5">No Todos</td>-->
<!--            </tr>-->
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.name}" />
                <td th:text="${todo.description}" />
                <td th:text="${todo.deadline}" />
                <!--                        <td th:text="${task.priority}" />-->
<!--                <td><a th:href="@{'/deleteTask/' + ${task.id}}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>





</div>
</body>
</html>