<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add ToDo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/validation.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="panel-group" style="margin-top: 40px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Welcome <span  sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                <form th:action="@{/logout}" method="get" class="pull-right">
                    <button  class="btn-floating btn-danger"
                            type="Submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <h2>
        <span class="text-success" th:utext="${successMessage}"></span> <span
            class="text-danger" th:utext="${errorMessage}"></span>
    </h2>


<!--    <div class="col-sm-2">-->
<!--        &lt;!&ndash;        <button th:onclick="redirect:/login/add" class="btn btn-primary btn-block">Add Task</button>&ndash;&gt;-->
<!--        <button type="button" th:onclick="|window.location.href='/login/add'|" class="btn btn-primary btn-block">Add Task</button>-->
<!--    </div>-->


        <div class="row">
            <div>
                <form autocomplete="off" th:action="@{/login/add}"
                      th:object="${Todo}" method="post" class="form-vertical" role="form">
                    <h2>Tasks Form</h2>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input
                                type="text" th:field="*{name}"
                                placeholder="Name" class="form-control" />
                        </div>
                        <div class="col-sm-7">
                            <input
                                type="text" th:field="*{description}"
                                placeholder="Task Description" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <input
                                type="date"  th:field="*{deadline}" class="form-control" />
                        </div>
    <!--                    <div class="col-sm-1">-->
    <!--                        <label th:if="${#fields.hasErrors('priority')}"-->
    <!--                               th:errors="*{priority}" class="validation-message"></label> <input-->
    <!--                            type="number" th:field="*{priority}" min="0" max="5"-->
    <!--                            class="form-control" />-->
    <!--                    </div>-->
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">ADD TASK</button>
                        </div>
                    </div>
                </form>
<!--                <div class="container" th:fragment="content">-->
<!--                    <table class="table table-bordered table-striped">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Description</th>-->
<!--                            <th>Due Date</th>-->
<!--                            <th>Priority</th>-->
<!--                            <th>Delete</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:if="${tasks.empty}">-->
<!--                            <td colspan="5">No Tasks</td>-->
<!--                        </tr>-->
<!--                        <tr th:each="task : ${tasks}">-->
<!--                            <td th:text="${task.description}" />-->
<!--                            <td th:text="${#dates.format(task.dueDate, 'yyyy-MM-dd')}" />-->
<!--                            <td th:text="${task.priority}" />-->
<!--                            <td><a th:href="@{'/deleteTask/' + ${task.id}}">Delete</a></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
</div>
</div>





</div>
</body>
</html>