<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/validation.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" style="margin-top: 40px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Welcome <span  display:inline sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                <form th:action="@{/logout}" method="get" class="pull-right">
                    <button display:inline class="btn-floating btn-danger"
                            type="Submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <h2>
        <span class="text-success" th:utext="${successMessage}"></span> <span
            class="text-danger" th:utext="${errorMessage}"></span>
    </h2>

    <div class="col-sm-2">
        <button type="button" th:onclick="|window.location.href='/login/add'|" class="btn btn-primary btn-block">Add Todo</button>
    </div>
    <div class="col-sm-13">
        <form th:action="@{/userhome}" th:object="${Todo}" method="post">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Delete All Todo-s</button>
            </div>
        </form>
    </div>
<!--    <div class="col-sm-45">-->
<!--        <form th:action="@{userhome/not-completed-todos}" th:object="${Todo}" method="get">-->
<!--            <div class="col-sm-2">-->
<!--                <button type="submit" class="btn btn-primary btn-block">Not Completed Todo-s</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <div class="container" th:fragment="content">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${todos.empty}">
                <td colspan="5">No Todos</td>
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.name}" />
                <td th:text="${todo.description}" />
                <td th:text="${todo.deadline}" />
                <td th:if="${todo.status} == true">
                    <a th:href="@{'userhome/completed/' + ${todo.todo_id}}">Completed</a>
                </td>
                <td th:if="${todo.status} == false">
                        <a th:href="@{'userhome/completed/' + ${todo.todo_id}}">Mark as Completed</a>
                </td>

                <td><a th:href="@{'userhome/delete/' + ${todo.todo_id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>